fastapi[standard]
aiohttp
redis
databases
elasticsearch
numpy
pgvector
pydantic
SQLAlchemy
torch
transformers
uvicorn
asyncpg
psycopg2-binary
python-multipart
PyPDF2
python-docx
pandas
openpyxl
Pillow
pytesseract
python-magic
scikit-learn
umap-learn