.search-container {
  background-color: #989898;
  padding: 0 2rem;
  border-radius: 1rem;
  width: 10lvw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 150ms;
}

.search-container-focus {
  bottom: 50%;
  width: 20lvw;
  height: 2.5rem;
  padding: 0 1rem;
}

.search-input {
  background: none;
  color: #ffffff;
  font-size: 0.8rem;
  text-align: center;
}

.search-input::placeholder {
  color: #ffffff;
}

.search-button {
  padding: 0;
  display: none;
  color: white;
  background: none;
}

.search-container-focus .search-input {
  width: 100%;
  text-align: left;
}

.search-container-focus .search-button {
  display: block;
}

.search-input:focus {
  outline: none;
}
